<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <form [formGroup]="nombreForm" (ngSubmit)="recupNombre()">
          <div class="field">
            <label class="label"></label>
            <div class="control">
              <input class="input is-success" formControlName="nombre" type="number" placeholder="Entrez un nombre"
                value="">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Soumettre</button>
            </div>
          </div>
        </form>
        <br>
        <app-table-multiplication [nombreUser]="nombreUser"></app-table-multiplication>
        <br>
        <div class="group">
          <p>Nombre de tables de multiplication à afficher:</p>
          <table id="chiffres">
            <tr id="ligne"></tr>
            <td>
              <input *ngFor="let chiffre of tabChiffresBouton" id='{{chiffre}}' type='button' class='chiffre'
                (click)='selectNbTab(chiffre)' value='{{chiffre}}' />
            </td>
          </table>
        </div>
      </div>
    </div>
    <app-tables-multiplication [nombreTab]="nombreTab"></app-tables-multiplication>
  </div>
</section>